    body {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: rgb(145, 58, 130);
        color: rgb(245, 238, 248);
    }

    header {
        background-image: linear-gradient(rgb(201, 107, 169), rgb(19, 4, 22));
        color: rgb(4, 17, 29);
        padding: 20px 10px;
        text-align: center;
    }
    h2{
        text-align: center;
    }

    header h1 {
        margin: 0;
        color: rgb(123, 38, 131);
        padding: 30px;
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 0;
        display: flex;
        justify-content: center;
    }
    
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(199, 61, 130);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
/* Seções principais */
main {
    padding: 20px;
}
section {
    margin-bottom: 30px;
}
#banner {
    text-align: center;
    background-color: #e7f3ff;
    padding: 20px;
    border-radius: 8px;
}
#banner img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Produtos */
#produto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    display: block;
  margin: auto;
  width: 20%;
}

#produto article {
    background: rgb(196, 51, 176);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

#produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    
}

#produto button {
    background-color: #350924;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

#produto button:hover {
    background-color: #005fa3;
}

/* Sobre */
#sobre {
    background-image: linear-gradient(rgb(128, 22, 155), rgb(19, 4, 22));
    text-align: center;
    padding: 20px;
    
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(58, 18, 18, 0.1);
}

/* Rodapé */
footer {
    position: relative;
    background-color: #1a1717;
    color: white;
    text-align: center;
    padding: 60px 70px;
}

footer h2 {
    margin-top: 0;
}

footer p {
    margin: 5px 0;
}

